.btn-save {
  font-size: 16px;
  font-weight: 500;
  padding: 15px 40px;
  color: #fff;
  border: none;
  background-color: #3bb77e;
  border: 1px solid #29a56c;
  border-radius: 10px;
  font-weight: 700;
  font-family: "Quicksand-bold", sans-serif;
  color: #fff;
  letter-spacing: 0.5px;
  transition: all 0.3s ease 0s;
  &:hover {
    background-color: #29a56b;
    color: #fff;
    box-shadow: 5px 5px 15px #0000000d;
  }
}
.icon-group {
  font-size: 19px;
}
.pt-100 {
  padding-top: 100px;
}
.pb-100 {
  padding-bottom: 100px;
}
.mr-10 {
  margin-right: 10px;
}
.pl-50 {
  padding-left: 50px;
}
.selected {
  color: #fff !important;
  background-color: #3bb77e;
  border-radius: 10px;
}
.sidebar ul li {
  position: relative;
  border: 1px solid #ececec;
  border-radius: 10px;
  margin-bottom: 10px;
  .nav-link {
    font-size: 18px;
    color: #7e7e7e;
    padding: 15px 30px;
    font-family: "Quicksand-bold", sans-serif;
    font-weight: 700;
    cursor: pointer;
    &:focus {
      box-shadow: none !important;
    }
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
.heading-sm-1 {
  font-family: "Quicksand-bold", sans-serif;
  color: #253d4e;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0;
}
.form-group {
  margin-bottom: 1rem;
  .image-upload {
    img {
      position: relative;
      overflow: hidden;
      width: 220px;
      cursor: pointer;
      border-radius: 50%;
      height: 220px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 30px auto;
    }
  }
  label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #7e7e7ec4;
    font-family: "Lato", sans-serif;
  }
  input {
    background: #fff;
    border: 1px solid #ececec;
    height: 64px;
    box-shadow: none;
    padding-left: 20px;
    font-size: 16px;
    width: 100%;
    border-radius: 10px;
    &:focus {
      background: transparent;
      border-color: #bce3c9;
      box-shadow: none;
    }
  }
  .form-control {
    color: #000;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    margin-bottom: 3px;
  }
}
.account {
  .card {
    border: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.25rem;
    .cart-header {
      padding: 1rem;
      margin-bottom: 0;
    }
    .card-body {
      padding: 1rem !important;
    }
  }
}
.btn-template {
  text-decoration: none;
  position: relative;
  padding: 12px 30px;
  border-radius: 4px;
  background-color: #3bb77e;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: "Quicksand-bold", sans-serif;
  color: #fff;
  letter-spacing: 0.5px;
  transition: all 0.3s ease 0s;
  user-select: none;
  &:hover {
    background-color: #fdc040;
    color: #fff;
    transform: translateY(-3px);
    box-shadow: 5px 5px 15px #0000000d;
  }
}
.btn-add-address {
  @extend .btn-template;
  border-radius: 4px;
}
.order-header {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background-color: #00000008;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  text-align: center;
  h3 {
    font-size: 32px;
  }
}
.order {
  user-select: none;
  .table-responsive {
    table {
      user-select: text;
      tr {
        th {
          font-family: "Lato", sans-serif;
          font-size: 14px;
          font-weight: 600;
          line-height: 1.6;
          color: #212529 !important;
        }
        td {
          font-family: "Lato", sans-serif;
          font-size: 14px;
          vertical-align: middle;
          line-height: 1.4;
          max-width: 200px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

.btn-green {
  color: #3bb77e;
  border: none;
  background-color: #fff;
  transition: 0.5s all;
  padding: 0 15px 0 0;
  &:hover {
    color: #e8de22;
  }
}
.btn-view {
  width: 25px;
}
.btn-edit-delete {
  width: 12%;
}
.btn-red {
  @extend .btn-green;
  color: #fd6e6e;
  padding: 0;
  &:hover {
    color: #00d9ff;
  }
}
@media only screen and (max-width: 768px) {
  .pl-50 {
    padding-left: 20px;
  }
  td {
    max-width: 100px !important;
  }
  .btn-green,
  .btn-red {
    padding: 0 5px 0 0;
  }
  .btn-edit-delete {
    max-width: 95px !important;
  }
}
@media only screen and (max-width: 1023px) {
  .pl-50 {
    padding-left: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .pl-50 {
    padding-left: 0;
  }
  .pb-100 {
    padding-bottom: 60px;
  }
}
.btn-close {
  &:focus {
    box-shadow: none;
  }
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 66%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
  }
}
@media (max-width: 576px) {
  .modal-dialog {
    margin-top: 20%;
  }
  th,
  td {
    max-width: 60px !important;
    font-size: 12px !important;
  }
}
