.text-3 {
  color: #3bb77e;
  font-family: "Quicksand-bold", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
}
.product-rate {
  display: flex;
  align-items: center;
  padding-top: 20px;
  margin-bottom: 0 !important;
  justify-content: space-between;
  .product-rating {
  }
}
.mr-15 {
  margin-right: 15px;
}
.progress {
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
  font-family: "Lato", sans-serif;
  span {
    line-height: 16px;
    background: #fff;
    padding-right: 10px;
    width: 45px;
    color: #7e7e7e;
  }
  .progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #3bb77e;
    transition: width 0.6s ease;
  }
}
.product-container {
  @media only screen and (max-width: 768px) {
    .product-detail {
      .review-container {
        border: none !important;
        border-radius: none !important;
        padding: 20px 10px !important;
      }
    }
    .product-img {
      margin-top: 10% !important;
    }
  }
  @media only screen and (min-width: 1200px) {
    .container {
      max-width: 1610px;
    }
  }
  .product-detail {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    .product-img {
      cursor: pointer;
      margin-top: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10%;
      img {
        width: 60%;
        height: auto;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }
    }
    .review-container {
      width: 100%;
      border: 1px solid #ececec;
      border-radius: 15px;
      padding: 40px 50px;
      .total-reviews {
        width: 150px;
        padding: 6px !important;
        text-align: center;
        font-weight: 700;
        font-family: "Quicksand-bold", sans-serif;
        font-size: 17px;
        border-radius: 30px;
        border: 1px solid #ececec;
        background: #fff;
        color: #7e7e7e;
        margin-bottom: 20px;
      }
      .customer-review {
        .comment-area {
          padding: 30px 0px;
          @media only screen and (max-width: 480px) {
            .comments-area .thumb {
              min-width: 100px;
            }
          }
          .thumb {
            margin-right: 20px;
          }
          h4 {
            color: #2a2a2a;
            font-size: 18px;
            font-weight: 700;
            line-height: 1.2;
            font-family: "Quicksand-bold", sans-serif;
          }

          .comment-list {
            .single-comment {
              width: 100%;
              margin: 0 0 15px;
              border: 1px solid #f2f2f2;
              border-radius: 15px;
              padding: 20px;
              transition: 0.2s;
            }
          }
        }
        .comment-form {
          padding-top: 25px;
          margin-bottom: 20px;
          h4 {
            font-family: "Quicksand-bold", sans-serif;
            color: #253d4e;
            font-weight: 700;
            line-height: 1.2;
          }
          .form-group {
            box-sizing: border-box;
            .form-control {
              border: 1px solid #f0e9ff;
              border-radius: 10px;
              height: 48px;
              width: 99%;
              padding-left: 18px;
              font-size: 16px;
              background: transparent;
              min-height: 200px;
              padding-top: 15px;
            }
          }
          .btn-submit {
            margin-top: 20px;
            .btn-submit-review {
              position: relative;
              padding: 0 20px;
              margin-right: 20px;
              border-radius: 5px;
              border: 0;
              height: 50px;
              line-height: 50px;
              font-weight: 700;
              font-size: 18px;
              color: #fff;
              background-color: #3bb77e;
              transition: all 0.3s ease 0s;
              &:hover {
                background-color: #059b55;
                color: #fff;
                transform: translateY(-3px);
                box-shadow: 5px 5px 15px #0000000d;
              }
            }
          }
        }
      }
    }
    .details {
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      div {
        margin-bottom: 20px;
      }
      .title {
        font-family: "Quicksand-bold", sans-serif;
        font-size: 35px;
        color: #253d4e;
        font-weight: 700;
        line-height: 1.2;
      }
      .details-footer {
        color: #7e7e7e;
        display: flex;
        justify-content: space-between;
        span {
          color: #3bb77e;
          font-family: "Quicksand", sans-serif;
          font-weight: bold;
        }
      }
      .btn-add-to-cart {
        position: relative;
        padding: 0 20px;
        margin-right: 20px;
        border-radius: 5px;
        border: 0;
        height: 50px;
        line-height: 50px;
        font-weight: 700;
        font-size: 18px;
        color: #fff;
        background-color: #3bb77e;
        transition: all 0.3s ease 0s;
        &:hover {
          background-color: #05bc66;
          color: #fff;
          transform: translateY(-3px);
          box-shadow: 5px 5px 15px #0000000d;
        }
      }
      .btn-add-to-wishlist {
        @extend .btn-add-to-cart;
        background-color: #fff;
        color: #7e7e7e;
        border: 1px solid #7e7e7e57;
        &:hover {
          background-color: #3bb77e;
        }
      }
      .product-price {
        font-family: "Quicksand-bold", sans-serif;
        font-size: 58px;
        text-decoration: none;
        font-weight: 900;
        color: #3bb77e !important;
      }
      .product-description {
        font-size: 18px;
        font-family: "Quicksand", sans-serif;

        color: #7e7e7e;
      }
    }
    //end details
  }
  //end product-detail
}
