.pt-80 {
  padding-top: 80px;
}
.pb-50 {
  padding-bottom: 50px;
}

.form-group {
  user-select: none;
  .form-control {
    margin-bottom: 3px;
    font-family: "Roboto", sans-serif;
  }
}
.btn-reset {
  font-size: 16px;
  padding: 15px 40px;
  color: #fff;
  border: none;
  background-color: #253d4e;
  border-radius: 10px;
  font-family: "Quicksand-bold", sans-serif;
  letter-spacing: 0.5px;
  font-weight: 700;
  transition: all 0.3s ease;
  &:hover {
    background-color: #3bb77e;
    transform: translateY(-3px);
    box-shadow: 5px 5px 15px #0000000d;
  }
}
.btn-send-code {
  font-size: 14px;
  background-color: #fff;
  color: #29a56c;
  border: none;
  font-weight: bold;
  padding: 0 8px;
  transition: all 0.3s ease;
  &:hover {
    box-shadow: none;
    border: none;
    color: #fdc040;
    transform: translateY(-2px);
  }
}
.heading {
  user-select: none;
  h2 {
    font-size: 40px;
    margin: 15px 0;
  }
  img {
    border-radius: 15px;
  }
  p {
    user-select: auto;
    margin-bottom: 30px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    color: #7e7e7e;
  }
}

@media only screen and (max-width: 575px) {
  .heading {
    h2 {
      font-size: 30px;
    }
  }
}
