@font-face {
  font-family: "Quicksand";
  src: url("./assets/fonts/Quicksand-VariableFont_wght.ttf") format("truetype"),
    url("./assets/fonts/Quicksand-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand-bold";
  src: url("./assets/fonts/Quicksand-VariableFont_wght.ttf") format("truetype"),
    url("./assets/fonts/Quicksand-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand-bold";
  src: url("./assets/fonts/Lato/Lato-Thin.ttf") format("truetype"),
    url("./assets/fonts/Lato/Lato-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app-container {
  font-family: "Quicksand", sans-serif;
  padding: 105px 0px 100px 0;
  width: 100%;
  height: auto;

  @media only screen and (max-width: 1023px) {
    padding: 105px 0px 0px 0;
  }

  @media only screen and (max-width: 768px) {
    padding: 115px 0px 0px 0;
  }
}
